<br />
<br />

<p class="button-font" fxLayoutAlign="center center"> Contact Cards</p>

<app-menu-bar></app-menu-bar>

<br />
<br />

<table mat-table>
  <div fxLayout="column " fxLayoutAlign="start center">
    <mat-card class="example-card" *ngFor="let element of contact" [type]="element">{{ element.displayName }}
      <img class="left-align-element" [src]="avatar">
        <mat-card-content>
         <div> {{ element.mail }} </div> 
        </mat-card-content>
    </mat-card>
  </div>
</table>


<div class="alternate-theme parallax image button-login-feature centerize"></div>