@import "~@angular/material/theming";
@import"src/app/components/contact/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Righteous');


.calendar-heading {
  font-family: $calendar-font;
  size: $calendar-font-size;
  color:$calendar-font-color;
}

.mat-divider{
  color: $calendar-font-color;
  border-width: $mat-div-and-card-border-width;
  border-style: $mat-div-and-card-border-style;
}

.mat-card{
  color: $calendar-font-color;
  border-width: $mat-div-and-card-border-width;
  border-style: $mat-div-and-card-border-style;
}

.button-font {
    font-size: $button-font-size;
    font-family: $button-font;
    color: $button-font-color;
    text-align: $alignment-of-text;
    border: $mat-button-font-border;
  }

