<p class="page-heading margin-login" fxLayoutAlign="center center"> Contact Cards</p>

<app-contactspinner></app-contactspinner>

<div fxLayout="column" fxLayoutAlign="start center">
  <mat-card *ngFor="let element of contact" [type]="element">{{ element.displayName }}
    <div fxLayoutAlign="center">
      <img [src]="avatar">
    </div>
    <mat-card-content>

      <a href="mailto:{{ element.mail }}" target="_top">{{ element.mail }} </a>
    </mat-card-content>
  </mat-card>
</div>

<div class="parallax"></div>