@import "~@angular/material/theming";
@import "src/app/components/contact/contact-variables.scss";

.mat-card {
  color: $calendar-font-color;
  border-width: $mat-div-and-card-border-width;
  border-style: $mat-div-and-card-border-style;
  padding: $mat-card-padding;
  margin-left: $mat-card-padding;
  margin-bottom: $mat-card-padding;
  margin-right: $mat-card-padding;
  width: $mat-card-width;
}

.searchCard {
  color: rgb(68, 66, 66);
  border-width: $mat-div-and-card-border-width;
  border-style: $mat-div-and-card-border-style;
  padding: $mat-card-padding;
  margin-left: $mat-card-padding;
  margin-bottom: 0;
  margin-right: $mat-card-padding;
  width: $mat-card-width;

  a {
    color:grey;
    text-decoration: $anchor-tag-tect-dec;
  }
  
  a:hover,
    a:active { 
        color:rgb(75, 71, 71);
  }
  :host {
    display: $host-display;
    flex-direction: $host-direction;
    height: $host-height;
  }
}


a {
  color: $anchor-tag-color;
  text-decoration: $anchor-tag-tect-dec;
}

a:hover,
  a:active { 
      color:$color-email-hover-to-mail;
}
:host {
  display: $host-display;
  flex-direction: $host-direction;
  height: $host-height;
}

cdk-virtual-scroll-viewport {
  height: $height-virtual-scroll;
  .item {
      height: $height-item-scroll;
  }
}

li {
  list-style: $list-style;
  padding: $list-margin-padding;
  margin: $list-margin-padding;
}

.float-avatar-right {
  float: $float-avatar;
}

div {
  word-wrap: break-word;
}

@media screen and (max-width: $max-widths) {
  .mat-card {
    width: 70%;
}
}




  


 

