@import "~@angular/material/theming";
@import"src/app/components/contact/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Righteous');

.calendar-heading {
  font-family: $calendar-font;
  size: $calendar-font-size;
  color: $calendar-font-color;
}

.paddingOfSpinner{
  padding: $padding-of-spinner;
}

.mat-divider{
  color: $calendar-font-color;
  border-width: $mat-div-and-card-border-width;
  border-style: $mat-div-and-card-border-style;
}

.mat-card{
  color: $calendar-font-color;
  border-width: $mat-div-and-card-border-width;
  border-style: $mat-div-and-card-border-style;
  padding: $mat-card-padding;
  margin-left: $mat-card-padding;
  margin-bottom: $mat-card-padding;
  margin-right: $mat-card-padding;
}

.mat-card-no-border{
  transition: $mat-card-no-border-transition;
  box-shadow: $mat-card-no-border-shadow;
}

.button-font {
    font-size: $button-font-size;
    font-family: $button-font;
    color: $button-font-color;
    align-content: $alignment-of-text;
    border: $mat-button-font-border;
  }

  .left-align-element{
    float: $item-float;
  }

  .parallax {
    background-image: url("src/assets/images/contacts.jpg");
    min-height: $parallax-calendar-min-height;
    background-attachment: $parallax-calendar-bg-attach;
    background-position: $parallax-calendar-position;
    background-repeat: $parallax-calendar-repeat;
    background-size: $parallax-calendar-bg-size;
  }

  .search{
    min-width: $search-min-width;
    max-width: $search-mx-width;
    width: $search-width;
  }
  
  .search-width {
    width: $search-width;
  }

  


 

