$calendar-font:'Righteous', cursive;
$calendar-font-size:2em;
$calendar-font-color:#2196F3;
$calendar-alignment-of-text:center;

$button-font:'Righteous', cursive;
$button-font-size:2em;
$button-font-color:#2196F3;
$alignment-of-text:center;

$mat-div-and-card-border-width:1px;
$mat-div-and-card-border-style:solid;
$mat-button-font-border:0;

$item-float:right;