<p class="page-heading"> Add Contact</p>

<div fxLayout="column" fxLayoutAlign="start center">
  <mat-card>
    <form id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" fxLayout="column"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="form-group">

        <mat-label class="field-label">Contact Name: </mat-label>
        <mat-form-field>
          <input class="form-control" matInput placeholder="Name" formControlName="displayName">
        </mat-form-field>

        <br />

        <mat-label class="field-label">Contact Email: </mat-label>
        <mat-form-field>
          <input class="form-control" matInput placeholder="Email">
        </mat-form-field>

        <br />

      </div>
      <button mat-flat-button color="primary" type="submit">Save</button>
      <button mat-flat-button color="primary" routerLink="/contact">See contacts</button>
    </form>
  </mat-card>
</div>