$contact-add-display:flex;
$contact-add-flex-direction:column;
$contanct-add-width:100%;

.conatact-add{
    display: flex;
    flex-direction: column;
  }
  
  .conatact-add > * {
    width: 100%;
  }
  