$contact-add-display:flex;
$contact-add-flex-direction:column;
$contanct-add-width:100%;

$button-font:"Source Sans Pro", sans-serif;
$button-font-size:48px;
$button-font-color:#2196F3;
$alignment-of-text:center;
$button-font-border: 0;