<footer>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-button>
      <a href="https://www.facebook.com/Office" target="_blank"> <img [src]="srcUrlFB"></a>
    </button>

    <button mat-button>
      <a href="https://www.linkedin.com/showcase/microsoft-office/" target="_blank"><img [src]="srcUrlInstagram"></a>
    </button>

    <button mat-button>
      <a href="https://twitter.com/office" target="_blank"> <img [src]="srcUrlTwitter"></a>
    </button>
  </div>
</footer>