
/* Font for office logo*/
$office-logo: "serif";

/* Material card styling  */
$mat-card-border-transition-shadow: none !important;
$mat-card-bg-padding: 0;
$mat-card-border: none !important;
$mat-card-bg-color: black;
$mat-card-profile-bg-color:black;
$mat-card-border: none !important;
$mat-display-3-color:#333;

/* Alignment of items */
$item-float-left:left;
$item-float-right:right;
$mat-card-profile-pic:transparent !important;
$item-float-center:center;

/* Button styles */
$button-font:"Source Sans Pro", sans-serif;
$button-font-size:48px;
$button-font-color:#2196F3;
$alignment-of-text:center;
$button-font-border: 0;



