
$office-logo: "serif";

.mat-card-background{
    font-family: $office-logo;
    border: none !important;
    color: black;
    transition: none !important;
    box-shadow: none !important;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border: none !important;
  }

  @mixin min {
    @media (min-width: #{$min-widths}) and (max-width: #{$max-widths- 1px}) {
      @content;
      word-wrap: break-word;
    
    }
  }
  
  @mixin max {
    @media (min-width: #{$max-widths}) {
      @content;
      word-wrap: break-word;
      
  }

  }
  