<div class="centerize margin-page">
  <button *ngIf="!name;else content" (click)="login()" class="ripple" mat-flat-button color="primary"
    href="/profile">{{ loginButton }}
  </button>
</div>


<div class="parallax"></div>

<div>
  <ng-template #content>
    <mat-toolbar class="border-menu" color="primary">
      <div>
        <mat-icon>assignment</mat-icon>
      </div>

      <div fxFlex></div>

      <ul fxLayout fxLayoutGap="10px" class="nav-items">
        <li>
          <div>
            <a routerLink="/calendar">Calendar</a>
          </div>
        </li>

        <li>
          <div>
            <a routerLink="/contact">Contacts</a>
          </div>
        </li>

        <li>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <div class="align-left">
                <div>
                  <img mat-card-avatar [src]="avatarImg" alt="Your profile picutre" class="align-center">
                </div>
              </div>
            </button>
          </div>
        </li>
      </ul>
      <mat-menu fxLayoutAlign="center" #menu="matMenu">

        <p fxLayoutAlign="center center" mat-menu-item>
          <mat-icon>account_box</mat-icon> {{ name }}
        </p>

        <button (click)="logOut()" id='logout' mat-menu-item>
          <mat-icon>assignment_return</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </ng-template>
</div>