@import "src/app/components/header/header-variables.scss";

.mat-card-background {
    font-family: $office-logo;
    border: $mat-card-border;
    color: $mat-card-bg-color;
    transition: $mat-card-border-transition-shadow;
    box-shadow: $mat-card-border-transition-shadow;
    padding-top: $mat-card-bg-padding;
    padding-bottom: $mat-card-bg-padding;
    padding-left: $mat-card-bg-padding;
    padding-right: $mat-card-bg-padding;
  }

  