
@import "~@angular/material/theming";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Righteous');

$button-font:'Righteous', cursive;
$button-font-size:2em;
$button-font-color:#2196F3;
$alignment-of-text:center;

$calendar-font:'Righteous', cursive;
$calendar-font-size:2em;
$calendar-font-color:#2196F3;
$calendar-alignment-of-text:center;

$item-float:right;

.calendar-heading {
    font-family: $calendar-font;
    size: $calendar-font-size;
    color:$calendar-font-color;
  }
  
.button-font {
    font-size: $button-font-size;
    font-family: $button-font;
    color: $button-font-color;
    text-align: $alignment-of-text;
    border: 0;
}

.mat-divider{
    color: $calendar-font-color;
    border-width: 1px;
    border-style: solid;
  }

  @mixin min {
    @media (min-width: #{$min-widths}) and (max-width: #{$max-widths- 1px}) {
      @content;
      word-wrap: break-word;
      img.img {
        width: 100px;
        height: 100px;
      }
    }
  }
  
  @mixin max {
    @media (min-width: #{$max-widths}) {
      @content;
      word-wrap: break-word;
      img.img {
        width: 100px;
        height: 100px;
      }
    }
  }

  .left-align-element{
    float:$item-float;
  }

  .parallax {
    background-image: url("src/assets/images/tasks.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


