
@import "src/app/components/spinner/spinner-variable.scss";

.mat-card-spinner{
    border: $border-transition-shadow;
    transition: $border-transition-shadow;
    box-shadow: $border-transition-shadow;
  }