<mat-card class="panel-calendar ">
  <mat-card-title class="button-font">
    MailBox
    <div class="sidenav-content ripple button-login-feature button alternate-theme  ">
      <button type="button" md-button (click)="sidenav.open()">
        See Mail
      </button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <mat-sidenav-container class="side-container">
      <mat-sidenav #sidenav class="sidenav">
        <mat-list>
          <mat-list-item *ngIf="email">{{ (email| async).value[0].subject }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item *ngIf="email">{{ (email| async).value[1].subject }}</mat-list-item> 
          <mat-divider></mat-divider>
          <mat-list-item *ngIf="email">{{ (email| async).value[3].subject }}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-sidenav>
    </mat-sidenav-container>

  </mat-card-content>

</mat-card>



<!-- <nav>
  <div class="parallax"></div>
  <mat-card>
    <mat-toolbar class="alternate-theme fixed-img">
      <span class="alternate-theme">
        <button mat-button>
          <img src="{{ icon }}">
        </button>
      </span>
      <mat-menu #appMenu="matMenu" class="accent">
        <button mat-menu-item>
          <img class="jpg-icon" src="{{ settings }}">
          <a routerLink="/setting"> {{ settingsText }}</a></button>
        <button mat-menu-item>
          <img class="jpg-icon" src="{{ help }}">
          <a routerLink="/help">{{ helpText }}</a></button>
      </mat-menu>
      <mat-toolbar color="accent">
        <p class="logo">{{ officeLogo }}
          <a routerLink="/login">{{ signupText }}</a>
        </p>
      </mat-toolbar>
      <mat-toolbar color="accent">
        <p>
          <a routerLink="/mail-box"> {{ mailboxText }}}</a>
        </p>
      </mat-toolbar>
      <mat-toolbar color="accent">
        <p>
          <a routerLink="/calendar">{{ calendarText }}</a>
        </p>
      </mat-toolbar>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
  </mat-card>
  <div layout="row" layout-margin layout-wrap layout-align="center center"></div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
    fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="20%">
    </div>
  </div>
</nav> -->