<mat-card class="panel-calendar">
  <mat-card-title class="button-font">
    MailBox
    <div class="sidenav-content ripple">
      <button type="button" md-button (click)="sidenav.open().toggle()"
        mat-flat-button
        color="primary">
        See Mail
      </button>
    </div>
  </mat-card-title>

  <mat-card-content>
    <mat-sidenav-container class="side-container">
      <mat-sidenav #sidenav class="sidenav" role="navigation">
        <mat-list>
          <mat-list-item *ngIf="email">
            <button mat-flat-button
              (click)="sidenav.close();sideNavMailContent()">
              {{ (email | async).value[0].subject }}
            </button>
          </mat-list-item>

          <mat-divider></mat-divider>

          <a href="www.google.com">
            <mat-list-item *ngIf="email">
              <button mat-flat-button>
                {{ (email | async).value[1].subject }}
              </button>
            </mat-list-item>
          </a>

          <mat-divider></mat-divider>

          <a href="www.google.com">
            <mat-list-item *ngIf="email">
              <button mat-flat-button>
                {{ (email | async).value[2].subject }}
              </button>
            </mat-list-item>
          </a>

          <mat-divider></mat-divider>
        </mat-list>
      </mat-sidenav>
    </mat-sidenav-container>
  </mat-card-content>
</mat-card>

<div class="alternate-theme parallax image button-login-feature centerize"></div>
