

@import"src/app/components/mail-box/variables.scss";

$button-font:'Righteous', cursive;
$button-font-size:2em;
$button-font-color:#2196F3;
$alignment-of-text:center;

$side-container-width:100%;
$side-container-height:300px;
$side-container-border: 1px solid rgba(111, 111, 111, 0.50);

$side-nav-display:flex;
$side-nav-height:100%;
$side-nav-alignment:center;
$side-nav-content:center;

$side-nav-padding:20px;

$panel-calendar-margin:10px;

$button-font-border:0;