
$item-float-left:left;
$item-float-right:right;
$mat-card-profile-pic:transparent !important;
$item-float-center:center;
@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei");

$office-logo: "serif";

.align-left {
  float:$item-float-left;
}

.align-right {
  float:$item-float-right;

}

.align-center {
  float: $item-float-center;
}

.mat-card-background{
  background-color: $mat-card-profile-pic;
  font-family: $office-logo;
  border: none !important;
  color: black;
  transition: none !important;
  box-shadow: none !important;
}
.mat-card-profile{
  background-color: $mat-card-profile-pic;
  font-family: $office-logo;
  color: black;
  border: none !important;

}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  }
  
  .active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  }
  
  .active-cyan .fa,
  .active-cyan-2 .fa {
  color: #4dd0e1;
  }