<header>
  <nav>
    <mat-card>
      <div class="alternate-theme parallax image button-login-feature centerize" >
        <h2 class="mat-display-3">{{ officeLogo }}</h2>
        <button *ngIf="!name;else content" (click)="login()" class="ripple align-right" mat-flat-button color="primary"
          routerLink="/profile">{{ loginButton }}
        </button>
        <!-- <img mat-card-image *ngIf="photo" src="{{ (photo | async |json )}}"/> -->
        <ng-template #content>
          <div class="align-left">
            <mat-card class="mat-card-background">
              <img mat-card-avatar [src]="avatarImg" alt="Your profile picutre" class="align-center">
              <br />
              <h1 mat-display-1>{{ name }}</h1>
            </mat-card>
          </div>

          <button (click)="logOut()" mat-flat-button color="primary" id="logout" class="align-right">{{ Logout }}
          </button>
        </ng-template>

        <button routerLink="/profile" class="ripple align-right" mat-flat-button
          color="primary">{{ seeFeautesText }}
        </button>
      </div>
    </mat-card>

    <mat-card id="my_centered_button" class="fade x-hidden-focus">
      <a mat-fab routerLink="/about-office" aria-label="Down
        keyboard_arrow_down">
        {{ clickMessage }}
        <mat-icon>{{ arrowDown }}</mat-icon>
      </a>
    </mat-card>

    <mat-card>
      <div class="alternate-theme button-login-feature centerize">
        <ng-template #content>
          <div class="align-left">
            <mat-card class="mat-card-background">
              <img mat-card-avatar [src]="avatarImg" alt="Your profile picutre" class="align-center">
              <br />
              <h1 mat-display-1>{{ name }}</h1>
            </mat-card>
          </div>
          <a routerLink="/calendar"></a>
          <button (click)="logOut()" mat-flat-button color="primary" id="logout" class="align-right">Logout</button>
        </ng-template>
      </div>
    </mat-card>
  </nav>

</header>
<main>

  <router-outlet></router-outlet>

  <br />
  <br />
  <br />
  <br />

  <mat-divider></mat-divider>

  <button mat-button>
    <img class="jpg-icon" [src]="srcUrlFB">
  </button>

  <button mat-button>
    <img class="jpg-icon" [src]="srcUrlInstagram">
    <a routerLink="/contact"></a>
  </button>

  <button mat-button>
    <img class="jpg-icon" [src]="srcUrlTwitter">
    <a routerLink="/setting"></a>
  </button>
</main>

<footer>
  <br />
  <br />

  <div class="mat-display-1">
    <!-- <p><a routerLink="/app-component" fragment="logout"></a>Logout</p> -->
    <p>Contact Us</p>
    <a pageScroll href="#logout">Testing</a>
    <p>Logout</p>
    <p>Dashboard</p>

  </div>

</footer>