
@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei");
@import "src/app/components/header/header-variables.scss";


.align-left {
  float:$item-float-left;
}

.align-right {
  float:$item-float-right;

}

.align-center {
  float: $item-float-center;
}

.mat-card-background {
  font-family: $office-logo;
  border: $mat-card-border;
  color: $mat-card-bg-color;
  transition: $mat-card-border-transition-shadow;
  box-shadow: $mat-card-border-transition-shadow;
  padding-top: $mat-card-bg-padding;
  padding-bottom: $mat-card-bg-padding;
  padding-left: $mat-card-bg-padding;
  padding-right: $mat-card-bg-padding;
}

.mat-card-profile {
  background-color: $mat-card-profile-pic;
  font-family: $office-logo;
  color:$mat-card-profile-bg-color;
  border: $mat-card-border;

}
