/* Font for the calendar heading */
$calendar-font:"Source Sans Pro", sans-serif;
$calendar-font-size:24px;
$calendar-font-color:#2196F3;
$calendar-alignment-of-text:center;

/* Colors for mat dividers */
$mat-divider-border-width: 1px;
$mat-divider-border-style: solid;

/* Alignment of items */
$item-float:right;
$center-items-alignment: center;

/* Scroll parallax */
$parallax-calendar-min-height: 500px;
$parallax-calendar-bg-attach: fixed;
$parallax-calendar-position: center;
$parallax-calendar-repeat:no-repeat;
$parallax-calendar-bg-size:cover;

