@import "~@angular/material/theming";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Righteous');
@include mat-core();

$my-app-primary: mat-palette($mat-blue);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

$calendar-font:'Righteous', cursive;
$calendar-font-size:2em;
$calendar-font-color:#2196F3;
$calendar-alignment-of-text:center;

$button-font:'Righteous', cursive;
$button-font-size:2em;
$button-font-color:#2196F3;
$alignment-of-text:center;

$item-float:right;

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent: mat-palette($mat-teal, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

.parallax {
  background-image: url("src/assets/images/calendar.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.center-content {
  align-items: center;
  justify-content: center;
}

.calendar-heading {
  font-family: $calendar-font;
  size: $calendar-font-size;
  color:$calendar-font-color;
}

.mat-divider{
  color: $calendar-font-color;
  border-width: 1px;
  border-style: solid;
}

.mat-card{
  color: $calendar-font-color;
  border-width: 1px;
  border-style: solid;
}

.button-font {
  font-size: $button-font-size;
  font-family: $button-font;
  color: $button-font-color;
  text-align: $alignment-of-text;
  border: 0;
}

mat-grid-tile {
  background: lightblue;
}

.left-align-element{
    float:$item-float;
  }

