<!-- <nav>

  <mat-card class="center-text">
    <mat-card-title>Calendar Event Title</mat-card-title>
    <mat-card-subtitle>Date/Time</mat-card-subtitle>
    <mat-card-content>Info</mat-card-content>

    <mat-card-title>Calendar Event Title</mat-card-title>
    <mat-card-subtitle>Date/Time</mat-card-subtitle>
    <mat-card-content>Info</mat-card-content>

    <mat-card-title>Calendar Event Title</mat-card-title>
    <mat-card-subtitle>Date/Time</mat-card-subtitle>
    <mat-card-content>Info</mat-card-content>
    <mat-divider></mat-divider>
  </mat-card>
  <div class="parallax"></div>
</nav> -->
<mat-list>
  <mat-list-item> Event 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> Event 2
      <p *ngIf="calendar"> {{ (calendar| async).value[0].start.dateTime| date}}</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    Event 3
    <!-- <p *ngIf="calendar"> Event:{{ (calendar| async).vaule[0].subject}}</p> -->
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>