/* Font for the calendar heading */
$calendar-font:"Source Sans Pro", sans-serif;
$calendar-font-size:24px;
$calendar-font-color:#2196F3;
$calendar-alignment-of-text:center;

/* Colors for mat dividers */
$mat-divider-border-width: 1px;
$mat-divider-border-style: solid;

/* Alignment of items */
$item-float:right;
$center-items-alignment: center;

/* Scroll parallax */
$parallax-calendar-min-height: 500px;
$parallax-calendar-bg-attach: fixed;
$parallax-calendar-position: center;
$parallax-calendar-repeat:no-repeat;
$parallax-calendar-bg-size:cover;

/* Button styles */
$button-font:"Source Sans Pro", sans-serif;
$button-font-size:48px;
$button-font-color:#2196F3;
$alignment-of-text:center;
$button-font-border: 0;

/* Padding of Calendar Cards */
$mat-card-padding: 10px ;
$mat-card-margin-top-bottom: 30px ;
$mat-card-margin-left-right: 60px ;

/*Label Font */
$label-font-size:32px;

