<form class="example-form">
  <mat-horizontal-stepper color="primary">
    <mat-step label="Step 1">
      <mat-card>Sign Up
        <form class="example-form">
          <mat-form-field>
            <input matInput placeholder="Email">
            <mat-hint>Errors appear instantly!</mat-hint>
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput placeholder="Surname">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput placeholder="Username">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput placeholder="Re-enter Password">
          </mat-form-field>
        </form>
      </mat-card>
    </mat-step>
    <mat-step label="Step 2">
      <mat-card>Login
        <form class="example-form">
          <mat-form-field>
            <input matInput placeholder="Username/Email">
            <mat-hint>Errors appear instantly!</mat-hint>
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field>
        </form>
      </mat-card>
    </mat-step>
    <mat-step label="Step 3">
      <mat-card>Take part
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
</form>