@import '~@angular/material/theming';

$parallax-calendar-min-height: 500px;
$parallax-calendar-bg-attach: fixed;
$parallax-calendar-position: center;
$parallax-calendar-repeat: no-repeat;
$parallax-calendar-bg-size: cover;

$nav-bar-overflow: hidden;
$nav-bar-bg-color: #333;
$nar-bar-position: fixed;
$nar-bar-top: 0;
$nav-bar-width: 100%; 

.vertical-divider {
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
  }

.parallax {
    background-image: url("src/assets/images/tools.jpg");
    min-height: $parallax-calendar-min-height;
    background-attachment: $parallax-calendar-bg-attach;
    background-position: $parallax-calendar-position;
    background-repeat: $parallax-calendar-repeat;
    background-size: $parallax-calendar-bg-size;
}

.navbar {
      overflow: $nav-bar-overflow;
      background-color: $nav-bar-bg-color;
      position: $nar-bar-position;
      top: $nar-bar-top;
      width: $nav-bar-width;
}
    
