/*Font for body items*/
$calendar-font:"Source Sans Pro", sans-serif;
$calendar-font-size:24px;
$calendar-font-color:#2196F3;

/* Button styling */
$button-font:"Source Sans Pro", sans-serif;
$button-font-size:48px;
$button-font-color:#2196F3;
$button-font-border: 0;

/* Material card styling */
$mat-div-and-card-border-width:1px;
$mat-div-and-card-border-style:solid;
$mat-button-font-border:0;
$mat-card-padding: 10px ;
$-mat-form-field-width: 300px;

/* Item alignment */
$item-float:right;
$alignment-of-text:center;


