<mat-card><h2 class="mat-display-3">{{ officeLogo }}</h2></mat-card>

<p class="button-font"> Your Dashboard</p>

<br />
<br />

<nav>
  <mat-card fxHide.gt-xs>
    <mat-toolbar color="primary">

      <a class="alternate-theme">
        <img src="{{ icon }}">
      </a>

      <mat-toolbar color="primary">
        <a routerLink="/calendar">Calendar</a>
      </mat-toolbar>

      <mat-toolbar color="primary">
          <a routerLink="/contact">Contacts</a>
      </mat-toolbar>

      <!-- <button mat-icon-button [matMenuTriggerFor]="appMenu"></button> -->
    </mat-toolbar>
  </mat-card>
</nav>
<mat-card fxHide.xs>
  <mat-card-title class="button-font">
    Your Dashboard
  </mat-card-title>

  <mat-card-content>

    <mat-grid-list cols="2" [style.background]="'#2196F3'">
      <mat-grid-tile>
        <mat-card class="mat-cards">
          <button class="button-size" mat-menu-item>
            <a routerLink="/contact"><img class="example-card" [src]="officeContacts"></a>
          </button>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="mat-cards">
          <button class="button-size" mat-menu-item>
            <a routerLink="/calendar"><img class="example-card" [src]="officeCalendar"></a>
          </button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>