
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import "src/app/components/profile/profile-variables.scss";

.button-font {
    font-size: $button-font-size;
    font-family: $button-font;
    color: $button-font-color;
    text-align: $alignment-of-text;
    border: $button-font-border;
}

.button-size {
    border: $button-size-border;
    padding: $button-size-padding;
    transition: transform $button-size-transition;
    margin: $button-size-margin;
}

.button-size:hover {
    transform: scale(1.5);
  }

  .mat-card {
    background-color: $mat-card-bg-color;
    transition: $mat-card-transition;
    box-shadow: $mat-card-box-shadow;
  }

  .mat-card-background {
    font-family: $office-logo;
    border: $mat-card-border;
    color: $mat-card-bg-color;
    transition: $mat-card-border-transition-shadow;
    box-shadow: $mat-card-border-transition-shadow;
    padding-top: $mat-card-bg-padding;
    padding-bottom: $mat-card-bg-padding;
    padding-left: $mat-card-bg-padding;
    padding-right: $mat-card-bg-padding;
  }

  .parallax {
    background-image: url("src/assets/images/dashboard.jpg");
    min-height: $parallax-calendar-min-height;
    background-attachment: $parallax-calendar-bg-attach;
    background-position: $parallax-calendar-position;
    background-repeat: $parallax-calendar-repeat;
    background-size: $parallax-calendar-bg-size;
  }

 