$about-office-font: 'Righteous', cursive;
$text-body-size: 24px;
$text-body-text: "Source Sans Pro", sans-serif;
$color-for-feature-text: #2196F3;
$button-font:'Righteous', cursive;
$button-font-size: 32px;
$alignment-of-text: center;
$text-body-color:rgb(104, 98, 98);