/* Font for main page */
$about-office-font: "Source Sans Pro", sans-serif;

/* Font for some body elements */
$text-body-size: 12px;
$text-body-text: "Source Sans Pro", sans-serif;
$color-for-feature-text: #2196F3;
$button-font:"Source Sans Pro", sans-serif;
$button-font-size: 32px;
$alignment-of-text: center;
$text-body-color:rgb(104, 98, 98);